.skip-link {
	font-family: var(--font-family-sans);
	font-weight: 500;
	display: block;
	width: 100%;
	padding: var(--space-xs);
	background-color: var(--color-surface-secondary);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	transform: translateY(-100%);
}

.skip-link:focus {
	transform: translateY(0);
	outline: 2px solid var(--color-interactive-focus-ring);
	outline-offset: -2px;
}

.main-nav {
	padding: var(--space-s-m) 0;
	/*margin-block-end: var(--space-xl-2xl);*/
}

.main-nav ul {
	@extend %list-reset;

	a {
		padding: 0.25em 0;
	}
}

.main-nav img {
	border-radius: 50%;
	width: 75px;
}

.main-nav-item--active {
	color: var(--color-text-default);
	text-decoration: none;
}

@media (--from-medium-viewport) {
	.main-nav ul {
		display: flex;
	}

	.main-nav ul li {
		margin-inline-end: var(--space-xs-s);
		line-height: 7;
	}
}
