.skip-link {
	font-family: var(--font-family-sans);
	font-weight: 500;
	display: block;
	width: 100%;
	padding: var(--space-xs);
	background-color: var(--color-surface-secondary);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	transform: translateY(-100%);
}

.skip-link:focus {
	transform: translateY(0);
	outline: 2px solid var(--color-interactive-focus-ring);
	outline-offset: -2px;
}

.main-nav {
	padding: var(--space-s-m) 0;
}

.main-nav__inner {
	display: flex;
	align-items: center;
	gap: var(--space-xs-s);
	flex-wrap: wrap;
}

.main-nav__logo img {
	border-radius: 50%;
	display: block;
	width: 75px;
}

.main-nav__links {
	@extend %list-reset;

	display: flex;
	flex-wrap: wrap;
	gap: var(--space-3xs) var(--space-xs-s);
	align-items: center;

	a {
		padding: 0.25em 0;
	}
}

.main-nav__links [aria-current="page"] {
	color: var(--color-text-default);
	text-decoration: none;
}
