.tags-list {
	@extend %list-reset;

	li {
		display: inline-block;
		margin-right: 10px;
	}
	a {
		border: 1px solid var(--color-border-default);
		padding: 5px;
		border-radius: 5px;
		text-decoration: none;
		line-height: 2;
	}
}
