<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/base-head.njk" %}
    {% block head %}{% endblock %}
  </head>

  <body>
    {% include "partials/site-header.njk" %}
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/site-footer.njk" %}
  </body>

</html>
