{% extends "layouts/base.njk" %} 

{% set title = meta.projectName %}

{% block content %}
  <section class="wrapper layout-grid">
    <h1 class="page-header layout-span">{{ title }}</h1>
    <div class="layout-span layout-span--main | content-main flow">
      {{ content | safe }}
    </div>
    <div class="layout-span layout-span--aside">
      <aside class="content-aside flow">
        <h2>Latest recipes</h2>
        <ul>
          {% for item in collections.latest %}
            {% include "partials/site-post-list.njk" %}
          {% endfor %}
        </ul>
      </aside>
    </div>
  </section>
{% endblock %}