{% extends "layouts/base.njk" %}

{% block content %}
  <section class="wrapper layout-grid">
    <h1 class="page-header layout-span">{{ title }}</h1>
    <div class="layout-span | content-main flow">
      <ul class="recipe-ul">
        {% for item in pagination.items %} 
          <a href="{{ item.url }}">         
          {% figure %}
              {% picture item.data.figureRecipe.imageSrc, item.data.figureRecipe.imageTitle, item.data.figureRecipe.imageAlt, "lazy", "(min-width: 60rem) 250px, (min-width: 30rem) 440px, 430px" %}
          {% endfigure %}
          {{ item.data.title }}
          </a>
        {% endfor %}
      </ul>
    </div>
    {% if pagination.href.next or pagination.href.previous %}
      <div class="layout-span">
        {% include "partials/site-pagination.njk" %}
      </div>
    {% endif %}
  </section>
{% endblock %}