/* Elements: table, caption, colgroup, col, tbody, thead, tfoot, tr, td, th */

table,
fieldset {
	margin: 0;
	color: var(--color-text-default);
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	color: var(--color-text-default);
	margin-block-start: 2em !important;
	caption,
	th {
		text-align: left;
		max-width: 33%;
	}
	caption {
		margin-bottom: 0.25em;

		color: var(--color-text-default);
	}
	td,
	th {
		padding: 0.25em;
		border: 1px solid var(--color-border-default);

		color: var(--color-text-default);
		vertical-align: top;
	}
}
