<footer class="site-footer wrapper layout-grid flow">
  <div class="layout-span">
    <p>Last update on {{ helpers.dateNow | dateToDMY }} at {{ helpers.dateNow | dateToTime }} by AI and <a href="https://github.com/polent" rel="me">HH</a></p>    
  </div>
</footer>