{# Uses Nunjucks special variable loop.index0 to target the current iteration of a loop #}
<h2 class="sr-only" id="pagination-h2">Recipe Pagination</h2>
<nav class="site-pagination" aria-labelledby="pagination-h2">
  <ul>
    <li><a href="{{ pagination.href.first }}">First</a></li>
    {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}"
            {% if page.url == pagination.hrefs[ loop.index0 ] %} 
              aria-current="page" 
            {% endif %}>
            {{ loop.index }}
          </a>
        </li>
    {%- endfor %}
    <li><a href="{{ pagination.href.last }}">Last</a></li>
  </ul>
</nav>